.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

.mainContainer {
    height: 100%;
}

.defaultContainer {
    margin-top: 80px;
    margin-bottom: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

.outerDiv {

}


.headerContainer {
    display: flex;
    position: fixed;
    justify-content: flex-end;
    right: 2px;
    top: 1px;
    min-width: 100%;
    padding: 10px;
    background-color: antiquewhite;
}

.headerContainer div {
    cursor: pointer;
    text-align: center;
    padding: 4px;
    margin-left: 10px;
    border: 1px solid black;
    border-radius: 8px;

}

.footerContainer {
    /*display: flex;*/
    /*flex-direction: column;*/

    /*height: 100%;*/
    /*position: absolute;*/
    /*bottom: 0;*/
    /*width: 100%;*/
}

.footerBoxFirstChild {
    /*flex: 1;*/
    /*flex-grow: 1;*/
}

.footerBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    background-color: cadetblue;
    min-height: 100px;
}

.textArea {
    font-size: 15px;
    width: 500px;
    height: 100px;
}

.LoginButton {
    font-size: 20px;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
